@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-surface: 255 255 255;
    --color-subtle: 247 249 249;
    --color-fg: 15 20 25;
    --color-muted: 83 100 113;
    --color-line: 239 243 244;
    color-scheme: light;
  }

  body {
    @apply bg-surface text-fg antialiased;
  }
}
